:root {
   --color-white: #ffffff;

   --color-blue-v100: #05238e;
   --color-blue-v200: #042dc0;
   --color-blue-v300: #4e73df;
   --color-blue-v400: #c6d0ef;

   --color-grey-v100: #2a2a2a;
   --color-grey-v200: #434343;
   --color-grey-v300: #8a8a8a;
   --color-grey-v400: #cccccc;
   --color-grey-v500: #eff0f2;
   --color-grey-v600: #f8f9fa;

   --color-red-v100: #ba3725;
   --color-red-v300: #791f14;

   --color-yellow-v800: #fdf9e2;
}
