{% extends 'base.html' %}
{% block body %}
    <div class="col out-sidebar-planos">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-padrao">
                    <div class="card-titulo-padrao">
                        Alterar Plano
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col borda-alterar-planos">
                        <div class="titulo-alterar-planos">Acesso Básico</div>
                        <hr>
                        <ul>
                            <li><div class="itens-alterar-planos">Acesso a plataforma</div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Obra - <span class="item-limitado">1 OBRA</span></div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Etapas e Subetapas</div></li>
                            <li><div class="itens-alterar-planos">Cadastros de Materiais - <span class="item-limitado">10 ITENS</span></div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Serviços - <span class="item-limitado">10 ITENS</span></div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Custos Diversos - <span class="item-limitado">10 ITENS</span></div></li>
                            <li><div class="itens-alterar-planos">Lançamentos de Custos - <span class="item-limitado">10 LANÇAMENTOS</span></div></li>
                            <li><div class="itens-alterar-planos">Relatório de Custos por Etapa e Subetapa</div></li>
                            <li><div class="itens-alterar-planos"><span class="item-bloqueado">Relatório de Quantitativo de Materiaias</span></div></li>
                            <li><div class="itens-alterar-planos"><span class="item-bloqueado">Relatório de Fluxo de Caixa Mensal</span></div></li>
                            <li><div class="itens-alterar-planos">Resumo de Custos</div></li>
                        </ul>
                    </div>
                    <div class="col borda-alterar-planos">
                        <div class="titulo-alterar-planos" style="color: #008B8B;">Acesso Avançado</div>
                        <div class="valor-alterar-planos">
                            R$34,90 - Plano Mensal <br>
                            R$358,80 - Plano Anual <span class="item-limitado">ECONOMIZE 15%</span>
                        </div>
                        <hr>
                        <ul>
                            <li><div class="itens-alterar-planos">Acesso a plataforma</div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Obra - <span class="item-limitado">3 OBRAS</span></div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Etapas e Subetapas</div></li>
                            <li><div class="itens-alterar-planos">Cadastros de Materiais - <span class="item-limitado">250 MATERIAIS</span></div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Serviços - <span class="item-limitado">250 ITENS</span></div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Custos Diversos - <span class="item-limitado">250 ITENS</span></div></li>
                            <li><div class="itens-alterar-planos">Lançamentos de Custos - <span class="item-limitado">2000 LANÇAMENTOS</span></div></li>
                            <li><div class="itens-alterar-planos">Relatório de Custos por Etapa e Subetapa</div></li>
                            <li><div class="itens-alterar-planos">Relatório de Quantitativo de Materiaias</div></li>
                            <li><div class="itens-alterar-planos">Relatório de Fluxo de Caixa Mensal</div></li>
                            <li><div class="itens-alterar-planos">Resumo de Custos</div></li>
                            <div class="text-center">
                                <a href="https://mpago.la/1HaxSrc">
                                    <button class="alterar-planos-btn">Assine o plano Mensal</button>
                                </a>
                                <a href="https://mpago.la/2Vsswjz">
                                    <button class="alterar-planos-btn">Assine o plano Anual</button>
                                </a>
                            </div>
                        </ul>
                    </div>
                    <div class="col borda-alterar-planos">
                        <div class="titulo-alterar-planos" style="color: #FF4500;">Acesso Premium</div>
                        <div class="valor-alterar-planos">
                            R$49,90 - Plano Mensal <br>
                            R$502,80 - Plano Anual <span class="item-limitado">ECONOMIZE 15%</span>
                        </div>
                        <hr>
                        <ul>
                            <li><div class="itens-alterar-planos">Acesso a plataforma</div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Obra</div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Etapas e Subetapas</div></li>
                            <li><div class="itens-alterar-planos">Cadastros de Materiais</div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Serviços</div></li>
                            <li><div class="itens-alterar-planos">Cadastro de Custos Diversos</div></li>
                            <li><div class="itens-alterar-planos">Lançamentos de Custos</div></li>
                            <li><div class="itens-alterar-planos">Relatório de Custos por Etapa e Subetapa</div></li>
                            <li><div class="itens-alterar-planos">Relatório de Quantitativo de Materiaias</div></li>
                            <li><div class="itens-alterar-planos">Relatório de Fluxo de Caixa Mensal</div></li>
                            <li><div class="itens-alterar-planos">Resumo de Custos</div></li>
                            <div class="text-center">
                                <a href="https://mpago.la/24ceddX">
                                    <button class="alterar-planos-btn">Assine o plano Mensal</button>
                                </a>
                                <a href="https://mpago.la/1XM2dcm">
                                    <button class="alterar-planos-btn">Assine o plano Anual</button>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}