{% extends 'base.html' %}

{% block body %}
<div class="col out-sidebar">
   <div class="card">
      <div class="card-header card-header-padrao">
         <div class="card-titulo-padrao">
            Lançamento de Custo - Materiais
         </div>
         <div class="card-subtitulo-padrao">
            <a href="{{ url_for('obras', prev_page='lancamentomateriais') }}">
               {% if obra_selecionada %}
               Obra Selecionada: {{ obra_selecionada.nome.capitalize() }}
               {% else %}
               Nenhuma obra foi selecionada!
               {% endif %}
            </a>
         </div>
      </div>
      <div class="card-body">
         <form method="POST" action="" id="NotaFiscalForm" class="w-100">
            {{ form_nf.csrf_token }}
            <div class="row">
               <div class="form-group col-lg-3 col-md-6 col-12">
                  {{ form_nf.data_lancamento.label(class="form-control-label") }}
                  {{ form_nf.data_lancamento(class="form-control") }}
               </div>
               <div class="form-group col-lg-6 col-md-6 col-12">
                  {{ form_nf.fornecedor_id.label(class="form-control-label") }}
                  {{ form_nf.fornecedor_id(class="form-control") }}
               </div>
               <div class="form-group col-lg-3 col-md-6 col-12">
                  {{ form_nf.nota_fiscal.label(class="form-control-label") }}
                  {{ form_nf.nota_fiscal(class="form-control") }}
               </div>
            </div>

            <div class="row">
               <div class="form-group col-lg-3 col-md-6 col-12">
                  {{ form_nf.entrada.label(class="form-control-label") }}
                  {{ form_nf.entrada(class="form-control") }}
               </div>
               <div class="form-group col-lg-3 col-md-6 col-12">
                  {{ form_nf.parcelas.label(class="form-control-label") }}
                  {{ form_nf.parcelas(class="form-control") }}
               </div>
            </div>

            <div class="card-subtitulo-padrao">
               {% if obra_selecionada %}
               {{ form_nf.confirmar_nf(class="btn btn-primary mt-3") }}
               {% else %}
               {{ form_nf.confirmar_nf(class="btn btn-primary mt-3", disabled=True) }}
               {% endif %}
            </div>
         </form>

         <hr>
         <table class="table" id="myDataTable">
            <thead>
               <tr>
                  <th>Data</th>
                  <th>Fornecedor</th>
                  <th>Nota Fiscal</th>
                  <th>Etapa</th>
                  <th>Subetapa</th>
                  <th>Material</th>
                  <th>Quantidade</th>
                  <th>Preço Unit</th>
                  <th>Valor Total</th>
                  <th>Ações</th>
               </tr>
            </thead>
            <tbody>
               {% for lancamento in obra_selecionada.lancamentos_custo %}
               <tr>
                  <td>{{ lancamento.data_lancamento.strftime('%d/%m/%Y') }}</td>
                  <td>{{ lancamento.fornecedor.nome.capitalize() }}</td>
                  <td>{{ lancamento.nota_fiscal }}</td>
                  <td>{{ lancamento.etapa.nome.capitalize() }}</td>
                  <td>{{ lancamento.subetapa.nome.capitalize() }}</td>
                  <td>{{ lancamento.material.nome.capitalize() }}</td>
                  <td>{{ lancamento.quantidade }}</td>
                  <td>{{ "{:,.2f}".format(lancamento.preco_unit).replace(",", ";").replace(".", ",").replace(";", ".")
                     }}</td>
                  <td>{{ "{:,.2f}".format(lancamento.quantidade * lancamento.preco_unit).replace(",", ";").replace(".",
                     ",").replace(";", ".") }}</td>
                  <td>
                     <button type="button" class="btn"
                        onclick="window.location='{{ url_for('lancamentomateriaiseditar', lancamentomateriais_id=lancamento.id) }}'">
                        <img src="{{ url_for('static', filename='images/editar_24.png') }}" alt="editar">
                     </button>
                     <form action="{{ url_for('lancamentomateriais') }}" method="POST" style="display: inline;">
                        <input type="hidden" name="lancamento_id" value="{{ lancamento.id }}">
                        <input type="hidden" name="action" value="excluir">
                        <button type="submit" class="btn">
                           <img src="{{ url_for('static', filename='images/excluir_24.png') }}" alt="excluir">
                        </button>
                     </form>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>

<script>
   document.addEventListener("DOMContentLoaded", function () {
      if (typeof jQuery == 'undefined') {
         // console.error("Erro: jQuery ainda não foi carregado no lancamentocusto.html!");
      } else {
         // console.log("jQuery carregado corretamente no lancamentocusto.html!");

         $(document).ready(function () {
            flatpickr("#data_lancamento", {
               dateFormat: "d/m/Y",
               enableTime: false,
               locale: "pt",
            });

            $('#myDataTable').DataTable({
               "language": {
                  "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
               }
            });
         });
      }
   });
</script>


{% endblock %}