{% extends 'base.html' %}

{% block body %}
<div class="col out-sidebar">
   <div class="card">
      <div class="card-header card-header-padrao">
         <div class="card-titulo-padrao">
            Lançamento de Custo - Materiais
         </div>
         <div class="card-subtitulo-padrao">
            <a href="{{ url_for('obras', prev_page='lancamentomateriais') }}">
               {% if obra_selecionada %}
               Obra Selecionada: {{ obra_selecionada.nome.capitalize() }}
               {% else %}
               Nenhuma obra foi selecionada!
               {% endif %}
            </a>
         </div>
      </div>
      <div class="card-body">
         <form method="POST" action="" id="NotaFiscalForm" class="w-100">
            {{ form_nf.csrf_token }}
            <div class="row">
               <div class="form-group col-lg-3 col-md-6 col-12">
                  {{ form_nf.data_lancamento.label(class="form-control-label") }}
                  {{ form_nf.data_lancamento(class="form-control") }}
               </div>
               <div class="form-group col-lg-6 col-md-6 col-12">
                  {{ form_nf.fornecedor_id.label(class="form-control-label") }}
                  {{ form_nf.fornecedor_id(class="form-control") }}
               </div>
               <div class="form-group col-lg-3 col-md-6 col-12">
                  {{ form_nf.nota_fiscal.label(class="form-control-label") }}
                  {{ form_nf.nota_fiscal(class="form-control", type="number", min="0", step="1") }}
                  {% if form_nf.nota_fiscal.errors %}
                  <small class="text-danger">{{ form_nf.nota_fiscal.errors[0] }}</small>
                  {% endif %}
               </div>
            </div>

            <div class="row">
               <div class="form-group col-lg-3 col-md-6 col-12">
                  {{ form_nf.entrada.label(class="form-control-label") }}
                  {{ form_nf.entrada(class="form-control") }}
               </div>
               <div class="form-group col-lg-3 col-md-6 col-12">
                  {{ form_nf.parcelas.label(class="form-control-label") }}
                  {{ form_nf.parcelas(class="form-control") }}
               </div>
            </div>

            <!-- Campos restaurados do original -->
            <div class="row">
               <div class="form-group col-lg-6 col-md-6 col-12">
                  {{ form_nf.etapa_id.label(class="form-control-label") }}
                  {{ form_nf.etapa_id(class="form-control") }}
               </div>
               <div class="form-group col-lg-6 col-md-6 col-12">
                  {{ form_nf.subetapa_id.label(class="form-control-label") }}
                  {{ form_nf.subetapa_id(class="form-control") }}
               </div>
            </div>

            <div class="row">
               <div class="form-group col-lg-7 col-md-6 col-12">
                  {{ form_nf.material_id.label(class="form-control-label") }}
                  {{ form_nf.material_id(class="form-control") }}
               </div>
               <div class="form-group col-lg-2 col-md-3 col-12">
                  {{ form_nf.quantidade.label(class="form-control-label") }}
                  {{ form_nf.quantidade(class="form-control", type="number", min="0", step="any") }}
               </div>
               <div class="form-group col-lg-3 col-md-3 col-12">
                  {{ form_nf.preco_unitario.label(class="form-control-label") }}
                  {{ form_nf.preco_unitario(class="form-control", type="number", min="0", step="0.01") }}
               </div>
            </div>

            <div class="card-subtitulo-padrao">
               {% if obra_selecionada %}
               {{ form_nf.confirmar_nf(class="btn btn-primary mt-3") }}
               {% else %}
               {{ form_nf.confirmar_nf(class="btn btn-primary mt-3", disabled=True) }}
               {% endif %}
            </div>
         </form>

         <hr>
         <table class="table" id="myDataTable">
            <thead>
               <tr>
                  <th>Data</th>
                  <th>Fornecedor</th>
                  <th>Nota Fiscal</th>
                  <th>Etapa</th>
                  <th>Subetapa</th>
                  <th>Material</th>
                  <th>Quantidade</th>
                  <th>Preço Unit</th>
                  <th>Valor Total</th>
                  <th>Ações</th>
               </tr>
            </thead>
            <tbody>
               {% for lancamento in obra_selecionada.lancamentos_custo %}
               <tr>
                  <td>{{ lancamento.data_lancamento.strftime('%d/%m/%Y') }}</td>
                  <td>{{ lancamento.fornecedor.nome.capitalize() }}</td>
                  <td>{{ lancamento.nota_fiscal }}</td>
                  <td>{{ lancamento.etapa.nome.capitalize() }}</td>
                  <td>{{ lancamento.subetapa.nome.capitalize() }}</td>
                  <td>{{ lancamento.material.nome.capitalize() }}</td>
                  <td>{{ lancamento.quantidade }}</td>
                  <td>{{ "{:,.2f}".format(lancamento.preco_unit).replace(",", ";").replace(".", ",").replace(";", ".")
                     }}</td>
                  <td>{{ "{:,.2f}".format(lancamento.quantidade * lancamento.preco_unit).replace(",", ";").replace(".",
                     ",").replace(";", ".") }}</td>
                  <td>
                     <button type="button" class="btn"
                        onclick="window.location='{{ url_for('lancamentomateriaiseditar', lancamentomateriais_id=lancamento.id) }}'">
                        <img src="{{ url_for('static', filename='images/editar_24.png') }}" alt="editar">
                     </button>
                     <form action="{{ url_for('lancamentomateriais') }}" method="POST" style="display: inline;">
                        <input type="hidden" name="lancamento_id" value="{{ lancamento.id }}">
                        <input type="hidden" name="action" value="excluir">
                        <button type="submit" class="btn">
                           <img src="{{ url_for('static', filename='images/excluir_24.png') }}" alt="excluir">
                        </button>
                     </form>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>

<script>
   document.addEventListener("DOMContentLoaded", function () {
      function waitForJQuery(callback) {
         if (typeof $ !== "undefined") {
            $(document).ready(callback);
         } else {
            console.warn("jQuery ainda não carregado. Tentando novamente...");
            setTimeout(() => waitForJQuery(callback), 100);
         }
      }

      waitForJQuery(function () {
         console.log("jQuery carregado corretamente no lancamentocusto.html!");

         flatpickr("#data_lancamento", {
            dateFormat: "d/m/Y",
            enableTime: false,
            locale: "pt",
         });

         $('#myDataTable').DataTable({
            "language": {
               "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
            }
         });

         function waitForElement(selector, callback) {
            const element = document.querySelector(selector);
            if (element) {
               callback(element);
            } else {
               setTimeout(() => waitForElement(selector, callback), 100);
            }
         }

         waitForElement("#etapa_id", function (etapaSelect) {
            const subetapaSelect = document.getElementById("subetapa_id");

            if (subetapaSelect) {
               etapaSelect.addEventListener("change", function () {
                  const etapaId = this.value;
                  subetapaSelect.innerHTML = '<option value="99999">Selecione uma subetapa...</option>';

                  if (etapaId !== "99999") {
                     fetch(`/obter_subetapas_por_etapa?etapa_id=${etapaId}`)
                        .then(response => response.json())
                        .then(data => {
                           data.forEach(subetapa => {
                              subetapaSelect.innerHTML += `<option value="${subetapa.id}">${subetapa.nome}</option>`;
                           });
                        })
                        .catch(error => console.error("Erro ao carregar subetapas:", error));
                  }
               });
            } else {
               console.error("Erro: Elemento subetapa_id não encontrado no DOM.");
            }
         });
      });
   });


</script>

{% endblock %}