{% extends 'base.html' %}
{% block body %}
<div class="col out-sidebar">
   <div class="card">
      <div class="card-header card-header-padrao">
         <div class="card-titulo-padrao">
            Lançamento de Custo - Serviços
         </div>
         <div class="card-subtitulo-padrao">
            <a href="{{ url_for('obras', prev_page='lancamentomateriais') }}">
               {% if obra_selecionada %}
               Obra Selecionada: {{ obra_selecionada.nome.capitalize() }}
               {% else %}
               Nenhuma obra foi selecionada!
               {% endif %}
            </a>
         </div>
      </div>
      <div class="card-body w-100">
         <div class="card-subtitulo-padrao mb-2">
            {% if obra_selecionada %}
            <button type="button" class="btn btn-primary mt-3" id="limparCampos">Novo Lançamento</button>
            {% else %}
            <button type="button" class="btn btn-secondary mt-3" id="limparCampos" disabled>Novo Lançamento</button>
            {% endif %}
         </div>
         <div class="row mb-4">
            <form method="POST" action="" id="LancamentoCustoForm" class="">
               {{ form_lancamento_servico.csrf_token }}
               <div class="borda-lanc col-12">
                  <div class="row">
                     <div class="form-group col-3">
                        {{ form_lancamento_servico.data_lancamento.label(class="form-control-label") }}
                        {% if form_lancamento_servico.data_lancamento.errors %}
                        {{ form_lancamento_servico.data_lancamento(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                           {% for erro in form_lancamento_servico.data_lancamento.errors %}
                           {{ erro }}
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form_lancamento_servico.data_lancamento(class="form-control") }}
                        {% endif %}
                     </div>
                     <div class="form-group col-6">
                        {{ form_lancamento_servico.fornecedor_id.label(class="form-control-label") }}
                        {% if form_lancamento_servico.fornecedor_id.errors %}
                        {{ form_lancamento_servico.fornecedor_id(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                           {% for erro in form_lancamento_servico.fornecedor_id.errors %}
                           {{ erro }}
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form_lancamento_servico.fornecedor_id(class="form-control") }}
                        {% endif %}
                     </div>
                     <div class="form-group col-3">
                        {{ form_lancamento_servico.nota_fiscal.label(class="form-control-label") }}
                        {% if form_lancamento_servico.nota_fiscal.errors %}
                        {{ form_lancamento_servico.nota_fiscal(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                           {% for erro in form_lancamento_servico.nota_fiscal.errors %}
                           {{ erro }}
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form_lancamento_servico.nota_fiscal(class="form-control") }}
                        {% endif %}
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="form-group mt-2 col-6">
                        {{ form_lancamento_servico.etapa_id.label(class="form-control-label") }}
                        {% if form_lancamento_servico.etapa_id.errors %}
                        {{ form_lancamento_servico.etapa_id(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                           {% for erro in form_lancamento_servico.etapa_id.errors %}
                           {{ erro }}
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form_lancamento_servico.etapa_id(class="form-control") }}
                        {% endif %}
                     </div>
                     <div class="form-group mt-2 col-6">
                        {{ form_lancamento_servico.subetapa_id.label(class="form-control-label") }}
                        {% if form_lancamento_servico.subetapa_id.errors %}
                        {{ form_lancamento_servico.subetapa_id(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                           {% for erro in form_lancamento_servico.subetapa_id.errors %}
                           {{ erro }}
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form_lancamento_servico.subetapa_id(class="form-control") }}
                        {% endif %}
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group mt-2 col-7">
                        {{ form_lancamento_servico.servico_id.label(class="form-control-label") }}
                        {% if form_lancamento_servico.servico_id.errors %}
                        {{ form_lancamento_servico.servico_id(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                           {% for erro in form_lancamento_servico.servico_id.errors %}
                           {{ erro }}
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form_lancamento_servico.servico_id(class="form-control") }}
                        {% endif %}
                     </div>
                     <div class="form-group mt-2 col-2">
                        {{ form_lancamento_servico.quantidade.label(class="form-control-label") }}
                        {% if form_lancamento_servico.quantidade.errors %}
                        {{ form_lancamento_servico.quantidade(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                           {% for erro in form_lancamento_servico.quantidade.errors %}
                           {{ erro }}
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form_lancamento_servico.quantidade(class="form-control") }}
                        {% endif %}
                     </div>
                     <div class="form-group mt-2 col-3">
                        {{ form_lancamento_servico.preco_unitario.label(class="form-control-label") }}
                        {% if form_lancamento_servico.preco_unitario.errors %}
                        {{ form_lancamento_servico.preco_unitario(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                           {% for erro in form_lancamento_servico.preco_unitario.errors %}
                           {{ erro }}
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form_lancamento_servico.preco_unitario(class="form-control") }}
                        {% endif %}
                     </div>
                  </div>
                  <div class="card-subtitulo-padrao">
                     {% if obra_selecionada %}
                     {{ form_lancamento_servico.adicionar_item(class="btn btn-primary mt-3") }}
                     {% else %}
                     {{ form_lancamento_servico.adicionar_item(class="btn btn-primary mt-3", disabled=True) }}
                     {% endif %}
                  </div>
               </div>
            </form>
         </div>
         <div class="row">
            <hr>
            <table class="table" id="myDataTable">
               <thead>
                  <tr>
                     <th class="col-lanc" scope="col">Data</th>
                     <th class="col-lanc" scope="col">Fornecedor</th>
                     <th class="col-lanc" scope="col">Nota Fiscal</th>
                     <th class="col-lanc" scope="col">Etapa</th>
                     <th class="col-lanc" scope="col">Subetapa</th>
                     <th class="col-lanc" scope="col">Material</th>
                     <th class="col-lanc" scope="col">Quantidade</th>
                     <th class="col-lanc" scope="col">Preço Unit</th>
                     <th class="col-lanc" scope="col">Valor Total</th>
                     <th class="col-lanc" scope="col"></th>
                  </tr>
               </thead>
               <tbody>
                  {% for lancamento in obra_selecionada.lancamentos_servico %}
                  <tr>
                     <td class="col-lanc">{{ lancamento.data_lancamento.strftime('%d/%m/%Y') }}</td>
                     <td class="col-lanc">{{ lancamento.fornecedor.nome.capitalize() }}</td>
                     <td class="col-lanc">{{ lancamento.nota_fiscal }}</td>
                     <td class="col-lanc">{{ lancamento.etapa.nome.capitalize() }}</td>
                     <td class="col-lanc">{{ lancamento.subetapa.nome.capitalize() }}</td>
                     <td class="col-lanc">{{ lancamento.servico.nome.capitalize() }}</td>
                     <td class="col-lanc">{{ lancamento.quantidade }}</td>
                     <td class="col-lanc">
                        {{ "{:,.2f}".format(lancamento.preco_unit).replace(",", ";").replace(".",
                        ",").replace(";", ".") }}
                     </td>
                     <td class="col-lanc">
                        {{ "{:,.2f}".format(lancamento.quantidade * lancamento.preco_unit).replace(",",
                        ";").replace(".", ",").replace(";", ".") }}
                     </td>
                     <td class="col-lanc-acoes">
                        <button type="button" class="btn"
                           onclick="window.location='{{ url_for('lancamentoservicoseditar', lancamentoservicos_id=lancamento.id) }}'">
                           <img src="{{ url_for('static', filename='images/editar_24.png') }}" alt="editar">
                        </button>
                        <form action="{{ url_for('lancamentoservicos') }}" method="POST" style="display: inline;"
                           onsubmit="return confirmAndDisableButton(this);">
                           <input type="hidden" name="lancamento_id" value="{{ lancamento.id }}">
                           <input type="hidden" name="action" value="excluir">
                           <button type="submit" class="btn">
                              <img src="{{ url_for('static', filename='images/excluir_24.png') }}" alt="excluir">
                           </button>
                        </form>
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function () {
      flatpickr("#data_lancamento", {
         dateFormat: "d/m/Y",
         enableTime: false,
         locale: "pt",
      });
   });
</script>

<script>
   function confirmAndDisableButton(form, materialNome) {
      if (!form.hasAttribute('data-submitted')) {
         if (confirm('Tem certeza que deseja excluir o lançamento?')) {
            var button = form.querySelector('button[type="submit"]');
            button.disabled = true;
            form.setAttribute('data-submitted', 'true');
            return true;
         }
         return false;
      }
      return false;
   }
</script>


<script>
   document.addEventListener("DOMContentLoaded", function () {
      function waitForJQuery(callback) {
         if (typeof $ !== "undefined") {
            $(document).ready(callback);
         } else {
            console.warn("jQuery ainda não carregado. Tentando novamente...");
            setTimeout(() => waitForJQuery(callback), 100);
         }
      }

      waitForJQuery(function () {
         console.log("jQuery carregado corretamente!");

         $("#etapa_id").change(function () {
            var etapaId = $(this).val();

            $.ajax({
               type: "GET",
               url: "{{ url_for('obter_subetapas_por_etapa') }}",
               data: { etapa_id: etapaId },
               success: function (response) {
                  $("#subetapa_id").empty();
                  $("#subetapa_id").append('<option value="99999">Selecione uma subetapa...</option>');

                  for (var i = 0; i < response.length; i++) {
                     var subetapaNome = response[i].nome.charAt(0).toUpperCase() + response[i].nome.slice(1);
                     $("#subetapa_id").append('<option value="' + response[i].id + '">' + subetapaNome + '</option>');
                  }
               },
               error: function (error) {
                  console.log("Erro ao obter subetapas:", error);
               }
            });
         });

         $('#myDataTable').DataTable({
            "language": {
               "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
            }
         });

         document.getElementById('limparCampos').addEventListener('click', function () {
            window.location.href = "{{ url_for('lancamentomateriais') }}";
         });

      });
   });
</script>


<script>

   window.addEventListener('beforeunload', function () {
      sessionStorage.setItem('scrollPosition', 0);
   });


   function storeScrollPosition() {
      sessionStorage.setItem('scrollPosition', window.scrollY);
   }


   function restoreScrollPosition() {
      const scrollPosition = sessionStorage.getItem('scrollPosition');
      if (scrollPosition !== null) {
         window.scrollTo(0, parseInt(scrollPosition));
      } else {
         window.scrollTo(0, 0);
      }
   }


   document.addEventListener('DOMContentLoaded', function () {
      restoreScrollPosition();

      const form = document.getElementById('LancamentoCustoForm');
      form.addEventListener('submit', function () {
         storeScrollPosition();
      });
   });
</script>


<script>
   document.addEventListener("DOMContentLoaded", function () {
      function waitForJQuery(callback) {
         if (typeof $ !== "undefined") {
            $(document).ready(callback);
         } else {
            console.warn("jQuery ainda não carregado. Tentando novamente...");
            setTimeout(() => waitForJQuery(callback), 100);
         }
      }

      waitForJQuery(function () {
         console.log("jQuery carregado corretamente!");

         if (!$.fn.dataTable.isDataTable("#myDataTable")) {
            $('#myDataTable').DataTable({
               "language": {
                  "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
               }
            });
         } else {
            console.warn("DataTable já foi inicializado. Pulando reinicialização.");
         }
      });
   });
</script>



<script>
   document.getElementById('limparCampos').addEventListener('click', function () {
      window.location.href = "{{ url_for('lancamentomateriais') }}";
   });
</script>

{% endblock %}