{% extends 'base.html' %}
{% block body %}
<div class="col out-sidebar">
   <div class="card">
      <div class="card-header card-header-padrao">
         <div class="card-titulo-padrao">
            Subetapas
         </div>
      </div>
      <div class="card-body">
         <form method="POST" action="" id="subetapasForm" class="col-md-6">
            {{ form_editar_subetapas.csrf_token }}
            <div class="row">
               <div class="form-group mt-2 col-md-6">
                  {{ form_editar_subetapas.nome.label(class="form-control-label") }}
                  {% if form_editar_subetapas.nome.errors %}
                  {{ form_editar_subetapas.nome(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                     {% for erro in form_editar_subetapas_obra.nome.errors %}
                     {{ erro }}
                     {% endfor %}
                  </div>
                  {% else %}
                  {{ form_editar_subetapas.nome(class="form-control") }}
                  {% endif %}
               </div>
               <div class="form-group mt-2 col-md-6">
                  {{ form_editar_subetapas.etapa_relacionada.label(class="form-control-label") }}
                  {% if form_editar_subetapas.etapa_relacionada.errors %}
                  {{ form_editar_subetapas.etapa_relacionada(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                     {% for erro in form_editar_subetapas_obra.etapa_relacionada.errors %}
                     {{ erro }}
                     {% endfor %}
                  </div>
                  {% else %}
                  {{ form_editar_subetapas.etapa_relacionada(class="form-control") }}
                  {% endif %}
               </div>
            </div>
            <div class="col-md-12 d-flex justify-content-end align-items-center mt-3">
               {{ form_editar_subetapas.botao(class="btn btn-primary") }}
               <a href="{{ url_for('subetapas') }}" class="btn btn-secondary ml-2">Cancelar</a>
            </div>
         </form>
         <hr>
         <div class="row">
            <div class="col-md-12">
               <table class="table">
                  <tbody>
                     {% for etapa in usuario.etapas | sort(attribute='nome') %}
                     <tr class="etapa">
                        <td colspan="3">{{ etapa.nome.capitalize() }}</td>
                     </tr>
                     {% for subetapa in etapa.subetapas | sort(attribute='nome') %}
                     <tr class="subetapa">
                        <td></td>
                        <td>{{ subetapa.nome.capitalize() }}</td>
                     </tr>
                     {% endfor %}
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   function confirmAndDisableButton(form, subetapaNome) {
      if (!form.hasAttribute('data-submitted')) {
         if (confirm('Tem certeza que deseja excluir a subetapa "' + subetapaNome + '"?')) {
            var button = form.querySelector('button[type="submit"]');
            button.disabled = true;
            form.setAttribute('data-submitted', 'true');
            return true;
         }
         return false;
      }
      return false;
   }
</script>
{% endblock %}